{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block sonata_media_type_widget %}
    <div class="span3 pull-left">
        {% if value is not empty and value.providerReference %}
            <div class="pull-left" style="margin-right: 5px">
                <a class="circle">
                    {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                </a>
            </div>

            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
            {% else %}
            {% endif %}
        {% else %}
            <div class="pull-left" style="margin-right: 5px">
                <a class="circle">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="span3 pull-left">
        {{ block('form_widget') }}
    </div>
{% endblock sonata_media_type_widget %}


