{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block sonata_media_type_widget %}
    <div id="dropzone">
        <div class="dropzone needsclick dz-clickable" id="demo-upload">
            <div style="display: none">
                {{ block('form_widget') }}
                <input type="hidden" name="croppedImage" class="croppedImageInput" value="">
            </div>

            <div class="dz-message needsclick" {% if value is not empty and value.providerReference %}style="display: none;" {% endif %}>
                <img src="/uploads/camera.png"/>
                <div class="helper-text">{% trans %}Drop files here or click to upload.{% endtrans %}</div>
            </div>
            {% if value is not empty and value.providerReference %}
                <div class="dz-preview dz-image-preview">
                    <div class="dz-image">
                        {% thumbnail value, 'small' with {'data-dz-thumbnail': ''} %}
                    </div>
                    <button class="dz-remove remove-button" data-dz-remove="">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>



    <!-- Modal image crop -->
    <div class="modal fade" id="imageCropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Crop image for better look{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <img src="" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}
                        Close{% endtrans %}</button>
                    <button type="button" class="btn btn-primary btn-modal-submit">{% trans %}
                        Done{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>


{% endblock sonata_media_type_widget %}


