{% trans_default_domain 'FOSUserBundle' %}

<div id="sticky" class="well well-sm">
    <div class="top-panel-content container">
        <div class="center">
            <h1>{% trans %}Reset password{% endtrans %}</h1>
        </div>
    </div>
</div>

<form class="fos_user_resetting_request form-horizontal" method="post" action="{{ path('fos_user_resetting_send_email') }}">
    <div class="form-container">
        {% if invalid_username is defined %}
            <div class="alert alert-danger" role="alert">
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-3 control-label required" for="username">{% trans %}Username or
                Email{% endtrans %}</label>

            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>

            <div class="col-sm-3">
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}"/>
            </div>
        </div>
    </div>
</form>
