.img-polaroid {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.image-container {
    /*position: relative;*/
    /*display: inline-block;*/
    /*text-align: center;*/
}

.image-container > .button.button-edit {
    position: relative;
    bottom: 140px;
    left: 75px;
    width: 30px;
    height: 30px;
    padding: 0;
    opacity: 0.7;
}

.image-container > .button.button-delete {
    position: relative;
    bottom: 140px;
    left: 75px;
    width: 30px;
    height: 30px;
    padding: 0;
    opacity: 0.7;
}