.profile-avatar .image-container {
    width: 207px;
    height: 207px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    clear: both;
}

.profile-avatar .circle.image-container > img {
    margin: 0 auto;
    width: 202px;
    height: 202px;
    padding: 0px;
    border: 6px solid white;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.profile-avatar .button-edit {
    left: 70px !important;
    bottom: 40px !important;
    opacity: 0.9 !important;
}

.profile-avatar .button-delete {
    left: 70px !important;
    bottom: 40px !important;
    opacity: 0.9 !important;
}

.login-form label, .registration-form label, .fos_user_resetting_request label {
    text-align: left;
}

.login-form, .registration-form, .fos_user_resetting_request {
    float: none;
    width: 400px;
    margin: 0 auto;
}

.profile-avatar .image-container.no-image > .pseudo-letters {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #32b0b3;
    font-size: 0;
    white-space: normal;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.profile-avatar .image-container.no-image {
    border: 5px solid #fff;
}

.profile-avatar .image-container.no-image > img {
    display: none;
}

.profile-avatar .image-container.no-image > .pseudo-letters .s-t {
    display: block;
    width: 50px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    white-space: normal;
}

.fos_user_profile_edit.form-horizontal .profile-avatar .pull-left{
    width: 420px;
}

.fos_user_profile_edit.form-horizontal .profile-avatar.control-block{
    width: 420px;
    margin-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 19px;
}

.fos_user_profile_edit .social-controls > .form-group {
    width: 30%;
    display: inline-block;
    margin-left: 20px;
}

.fos_user_profile_edit .toggle.btn {
    float: right;
    margin-bottom: 15px;
    -webkit-box-shadow: -2px 5px 8px 1px rgba(0, 0, 2, .2);
    box-shadow: -2px 5px 8px 1px rgba(0, 0, 2, .2);
}

/** Change password Start **/

form.fos_user_change_password {
    width: 400px;
    margin: 0 auto;
}

form.fos_user_change_password .col-sm-10 {
    width: 50%;
}

form.fos_user_change_password .form-group > .col-sm-2.control-label {
    width: 100%;
}

/** Change password END **/

/** Reset password Start **/

/*form.fos_user_resetting_reset {*/
/*width: 600px;*/
/*margin: 0 auto;*/
/*}*/

/*form.fos_user_resetting_reset .col-sm-10 {*/
/*width: 50%;*/
/*}*/

/*form.fos_user_resetting_reset .form-group > .col-sm-10 {*/
/*width: 50%;*/
/*}*/

/*form.fos_user_resetting_reset .form-group > .col-sm-2.control-label {*/
/*width: 30%;*/
/*}*/

/** Reset password END **/

/** Request on reset password form Start **/

/*form.fos_user_resetting_request {*/
/*width: 600px;*/
/*margin: 0 auto;*/
/*}*/

/*form.fos_user_resetting_request .form-group > .col-sm-9 {*/
/*width: 50%;*/
/*}*/

/** Request on reset password form END **/

/** Login form **/
a.forgot-password-link {
    display: inline-block;
    margin-top: 5px;
    border-bottom: 1px dashed;
    margin-left: 30px;
}

/** Login form **/

/** Top menu avatar **/

.menu-user-avatar {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -15px;
    margin-bottom: -20px;
    margin-right: 10px;
}

.menu-user-avatar.active > img {
    border: 3px solid #32b0b3;
}

.menu-user-avatar.active > .pseudo-letters {
    border: 2px solid white;
}

.menu-user-avatar > img {
    width: 50px;
    height: 50px;
    border: none;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding: 0px;
    cursor: pointer;
}

.menu-user-avatar > .pseudo-letters {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #32b0b3;
    font-size: 0;
    white-space: normal;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.menu-user-avatar > .pseudo-letters .s-t {
    display: block;
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #efefef;
    line-height: 1;
    white-space: normal;
}

.menu-user-avatar > .pseudo-letters:hover {
    opacity: 0.9;
}

a.dropdown-toggle-avatar:hover {
    background: none !important;
}

a.dropdown-toggle-avatar > .menu-user-avatar > img:hover {
    opacity: 0.9;
}

.dropdown.active > a.dropdown-toggle-avatar {
    background: none;
}

.dropdown.active > a.dropdown-toggle-avatar .fa {
    color: #32b0b3;
}

/** Top menu avatar **/


/** Profile image START **/
.fos_user_profile_edit #dropzone{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.fos_user_profile_edit .dropzone{
    width: 240px;
    height: 240px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.fos_user_profile_edit .dropzone .dz-preview{
    width: 200px;
    height: 200px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.fos_user_profile_edit #dropzone .dz-image{
    width: 200px;
    height: 200px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.fos_user_profile_edit #dropzone .dz-image img{
    width: 200px;
    height: 200px;
}

.fos_user_profile_edit .dropzone .dz-message.needsclick{
    margin-top: 3.5rem;
}

.fos_user_profile_edit .dropzone .dz-message > .helper-text{
    font-size: 18px;
    margin-top: 0px;
}

.fos_user_profile_edit .remove-button.dz-remove  {
    top: -100px;
    width: 100%;
    height: 100px;
    font-size: 46px;
    -moz-border-bottom-left-radius: 100%;
    -webkit-border-bottom-left-radius: 100%;
    border-bottom-left-radius: 100px;
    -moz-border-bottom-right-radius: 100%;
    -webkit-border-bottom-right-radius: 100%;
    border-bottom-right-radius: 100px;
}

.fos_user_profile_edit .cropper-crop-box{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/** Profile image END **/

.fos_user_profile_edit .pull-right .control-block{
    height: 340px;
}








