{% extends "BookBundle::layout.html.twig" %}

{% block body -%}     {{ parent() }}
    <h1 class="h1-title">{% trans %}Your Books Shelf list{% endtrans %}</h1>

    <div class="grid-list-view container container-read-list">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

        </div>

        {% if entities %}
            <div id="products" class="row list-group">
                {% for entity in entities %}
                    <div class="item  col-xs-4 col-lg-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    <a href="{{ path('shelf_edit', {'id': entity.id }) }}">
                                        {{ entity.title }}
                                    </a>
                                </h4>

                                <p class="group inner list-group-item-text read-comment">{{ entity.description|striptags|truncate(120) }}</p>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">{% trans %}Your Shelfs list is empty.{% endtrans %}</div>
        {% endif %}
    </div>
{% endblock %}
