{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <div id="sticky" class="well well-sm">
        <div class="top-panel-content container">
            <div class="pull-left">
                <h1>{% trans %}New Shelf{% endtrans %}</h1>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-submit-form">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% trans %}Create{% endtrans %}
                </button>
                <a href="{{ path('shelf') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    {% trans %}Shelves{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    {% if form.image.binaryContent.vars.errors.count %}
        <br>
        <br>
        <div class="alert alert-danger" role="alert">{{ form_errors(form.image.binaryContent) }}</div>
    {% endif %}

    {{ form(form) }}

{% endblock %}
